.collapsible {
  color: white;
  cursor: pointer;
  width: 100%;
}

.content-team {
  display: flex;
  justify-content: space-around;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;

  .team-card {
    padding: 1.75em;
    background-color: #353849;
    border-radius: 5px;
    height: fit-content;

    .position {
      margin: 0;
    }
  }

  .team-img {
    border-radius: 50%;
  }
}